html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STYLE */

/*ALL*/

.all {
    box-shadow:0 5px 20px #00000042;
    position: relative;
    width: 1150px;
    height: 925px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    position: relative;
}


.all {
    transform: translateY(20px);
    animation: all 1.5s ease-out forwards;
}

@keyframes all {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* HEADER */


body {
    background-image: url(./img/food.webp);
}

.container .icon img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;  /* Atur jarak dari atas */
    right: 380px ;
}

.container {
    position: relative;
    top: 35px;
    width: 1100px;
    height: 850px;
    margin: auto;
    margin-top: 35px;
    background-image: url(./img/Home.jpg);
    background-size: 100%;
    box-shadow:0 5px 50px #00000059;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat; /* Jangan ulang gambar */
    
}

.header {
    padding: 50px;
    text-align: center;
}

    .header ul li {
        list-style: none;
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        font: 16px/28px arial,sans-serif;
        font-weight: bold;
        position: relative;
        bottom: 45px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header a:hover {
    color: #ababab;
}

/* BODY1 */

.container {
    border-radius: 20px;
}


.container .body h1 {
    font: 16px/28px arial,sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    top: 80px;
    font-size: 50px;
}

.container .body p {
    font: 16px/28px arial,sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    top: 120px;
    text-align: center;
    font-size: 20px;
    width: 50%;
    left: 280px;
}

 .glass {
    width: 151px;
    height: 200px;
    display: inline-block;
    margin: 25px;
    position: relative;
    top: 230px;
    left: 250px;
    border-radius: 10%;
    text-align: center;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    border: 1px solid #90909048;
    box-shadow:0 5px 20px #00000042;
}

 .glass img{
   border-radius: 15%;
   position: relative;
   top: 10px;
   box-shadow:0 5px 20px #00000042;
 }


  .glass .button {
     background-color: #FEDA5C;
     width: 120px;
     height: 40px;
     text-align: center;
     position: relative;
     top: 50px;
     left: 16px;
     border-radius: 20px;
     box-shadow:0 5px 20px #00000042;
 }


 
 .glass .button h1 {
    font: 20px/28px arial,sans-serif;
    font-weight: bolder;
    position: relative;
    top: 5px;
    bottom: -0px;
 } 

 .glass {
    transition: 0.5s;
 }
 
 .glass .button {
    transition: 0.3s;
 }



  .glass:hover {
    transform: scale(1.1);
    transition: 0.3s
}

 .glass .button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

 .glass .button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

 .glass .button a:hover {
    color: #ababab;
}


/* BODY2 */

.container2 {
    width: 1100px;
    height: 650px;
    margin: auto;
    background-color:#FFE39A;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}